<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.employeezy.adiprojecttwo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="click there to search ---->"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable" />

                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RosterList" />
        <activity android:name=".StarterList" />
        <activity android:name=".PlayerProfileActivity"></activity>
    </application>

</manifest>